.wrap {
  padding: 30px;
  font-family: Arial, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0 0 20px;
  border: 1px solid #eee;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
}

h3 {
  margin: 0 0 10px;
}

a {
  text-decoration: none;
  color: #222;
  display: block;
}

a:hover {
  color: #863c3cd6;
}

h3:first-letter {
  font-size: 26px;
  text-transform: uppercase;
  color: #863c3cd6;
}
p {
  color: #ada9aa;
  margin: 0 0 10px;
  font-size: 16px;
}

.sort {
  cursor: pointer;
  display: inline-block;
  color: #222;
  margin: 0;
}

input {
  display: inline-block;
  margin: 0 50px 0 10px;
  padding: 0 0 0 15px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
  outline: none;
  height: 26px;
  font-size: 16px;
}

.header {
  border-bottom:1px solid #eee;
  margin: 0 0 40px;
  padding: 0 0 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
